<% if @book.nil? %>
  <h1>there are no other books to explore</h1>
  <h1>NERD :3  jk</h1>
<% else %>
  <div class="bg-white">
    <main class="mt-8 max-w-2xl mx-auto pb-16 px-4 sm:pb-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="lg:grid lg:grid-cols-12 lg:auto-rows-min lg:gap-x-8">
        <div class="lg:col-start-4 lg:col-span-6">
          <div class="relative z-10 max-w-7xl mx-auto pl-0 pr-8 sm:px-0 lg:px-0">
            <h1 class="text-4xl font-extrabold tracking-tight text-warm-gray-900 sm:text-5xl lg:text-6xl">Rate this book: </h1>
            <p class="mt-6 text-xl text-warm-gray-500 max-w-3xl mb-6">Read it: if you read it, or want to read in the future.<br />
              Leave it: if you didn't like it or don't want to read it<br />
              Pass: if you're not sure and would like to rate at another time.<br />
            </p>
          </div>
          <div class="flex justify-between">
            <h1 class="text-xl font-medium text-gray-900"><%= @book.title %></h1>
          </div>
          <div class="mt-8 lg:mt-0 lg:col-start-1 lg:col-span-7 lg:row-start-1 lg:row-span-3">
            <div display: flex;justify-content: center, class="grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-3 lg:gap-8">
              <img src=<%= @book.image_url %> alt=<%= @book.title %> class="lg:col-span-2 lg:row-span-3  rounded-lg">
            </div>
          </div>
          <div class="mt-8 lg:col-span-5">
            <%= form_with url: likes_url(@book) do |f| %>
              <%= f.hidden_field :like, value: true %>
              <%= f.submit "Read it!", class: "mt-8 w-full bg-green-500 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-green-600 focus:outline-none focus:ring-2 border border-gray-400 rounded shadow focus:ring-offset-2 focus:ring-indigo-500" %>
            <% end %>
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900"></h2>
              <div class="mt-4 prose prose-sm text-gray-500">
                <p></p>
                <p></p>
              </div>
            </div>
            <section class="mt-10">
              <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2">
                <%= form_with url: likes_url(@book) do |f| %>
                  <%= f.hidden_field :like, value: false %>
                  <div class="bg-gray-50 rounded-lg p-0 text-center border border-gray-400 rounded shadow">
                    <%= f.submit "Leave it", class: "bg-red-600 w-full rounded-lg p-6 text-center fill border border-gray-400 rounded shadow hover:bg-red-700" %>
                  <% end %>
                  <dt>
                  </dt>
                </div>
                <div style="display: flex;justify-content: center", class="display: flex, justify-content: centerbg-gray-50 rounded-lg p-0 text-center border border-gray-400 rounded shadow">
                  <%= link_to "Pass", "/books", class: "bg-gray-50 w-full rounded-lg p-6 text-center fill border border-gray-400 rounded shadow hover:bg-blue-200" %>
                  <dt>
                  </dt>
                </div>
              </dl>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<% end %>
